@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="row ">

    @foreach (var item in (IEnumerable<string>)ViewData["Conditions"])
    {
        if (item.Contains("Heading"))
        {


            <h3>@item.Replace("Heading", "")</h3>
        }
        else
        {
            <div class=" card form-group col-md-3 bg-light"><p class="card-body text-left">@item.ToString()</p></div>

        }

    }

</div>
