@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h1 class="display-4 text-center"> @ViewData["Welcome"]</h1>
    @*<p>@foreach (var item in (IEnumerable<string>)ViewData["Visitor"])
        {
            @item.fi;
        }*@

    </p>
    <p>@ViewBag.VisitorNew.FirstName</p>
   
    @await Html.PartialAsync("_Conditions") 


</div>
